*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}
nav{
    position:sticky;
    top:0;
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px, rgba(0, 0, 0, 0.22) 0px 0px 5px;
    z-index: 5;
}
.ulNews{
    position: relative;
    left: -100px;
    width: auto;

}
.ulNews li{
    display: inline-block;
    padding:0 10px;
}
.ulNews li a{
    text-decoration: none;
    color:#40348f;
    font-weight: bold;
}
.toggal{
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
#searchicon {
    display:none;
    cursor: pointer;
}
#hidemenu{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    display:none;
    cursor: pointer;
}
#hidesearch{
    
    display:none;
    cursor: pointer;
}

nav h2{
    padding: 10px;
     color:#40348f;
}
nav div{
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start; 
}
nav div img{
    margin: 10px;
    border-radius:50%;
    cursor: pointer;
}
nav div form{
    padding: 10px 30px;
    position: relative;
}
nav div form input{
    width: 200px;
    height: 30px;
    outline: none;
font-size:15px;
border:none;
border-bottom: 2px solid #40348f;
}
nav div form input:focus{
 outline: none;

}
input:focus{
    outline: none;
}
textarea:focus{
    outline: none;
}
nav div form button{
    position: relative;
   width: 30px;
   height: 30px;
   border:none;
   background:#ffb644 ;
   color: #fff;
   cursor: pointer;
}
nav div form button:hover{
    background:#40348f;
    color: #fff;
    transition: all 1.0 ease-in;
}


.postContainer{
    width: 100%;
    height: auto;

}
.postContainer form {
    width: 100%;height: auto;
    display: flex;
    flex-direction: column;

}
.postContainer form h4{
    padding: 10px;
}
.postContainer form input {
    width: 90%;
    height: 35px;
    margin: 5px;
    border:#40348f 1px solid;
}
.postContainer form button {
    width: 80px;
    height: 35px;
    background-color: #40348f;
    color: #fff;
    border:none;
    margin: 10px;
}




#readmore{
    width: 100%;
    height: 35px;

    border-top: #40348f 1px solid;
    border-bottom: #40348f 1px solid;
}


.readNews{
    width: 75%;
    height: auto;
    min-height:100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}
.readNews h2{
    padding: 10px;
    margin: 10px;
}
.postimg{
    width: 100%;
    height: auto;
    display: flex;
    justify-content:center;
    align-items:center;
}
.postimg img {
    width: 95%;
    margin: 10px;
}
.postCont{
    width: 100%;

}
.postCont .divcon{
padding: 10px;
margin: 10px;
}

@media (max-width:  980px){
    .readNews{
        width: 100%;
    }
}





.userdata{
    position: absolute;
    top:60px;
    right: 20px;
      width: 100px;
      height: 130px;
      background-color: #c7c3c3;
      align-items:center;
      display:none;
      flex-direction: column;
      transform: all 10ms;
      z-index: 5;
  }
 .userdata a{
    padding: 5px 10px;
    text-decoration: none;
    color: #40348f;
}

/* .newshome */
.newshome{
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: row;
    position: relative;
}
.popular{
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
z-index: -2;
}
.popular h3{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom:2px solid #40348f;
    color:#40348f;
}
.pdata{
    width: 90%;
    height: 45px;
    display: flex;
  
    align-items:center;
    margin: 5px  20px;
    
}
.pdata img{
    width: 35px;
    padding:0 10px;
    

}
.pdata a{
    text-decoration: none;
    color: #000000;
    padding: 10px;
}
.newsBox{
    width: 50%;
    height: 100vh;
    display: flex;
   
    flex-direction: column;
    align-items: center;
}
.posts{
    width: 90%;
    height: 500px;
    display: flex;
    margin: 10px 0;
    flex-direction: column;
    justify-content:center;
    align-items:center;
   background-color: rgb(241, 241, 241);
}
.postby img{
    width: 35px;
    padding: 5px 10px;
    margin:5px;
}
.postby h4{
    padding: 10px;
}
.postby span {
  
   margin-left: 50%;
}
.postby{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #40348f ;
}
.posttm{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.posttm h3{
    width: 90%;
    height: auto;
    padding: 10px
}
.posttm img{
    width: 95%;
    height: 300px;
    margin: 10px;
}
.readnshare{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}
.readnshare #rm {
    text-decoration: none;
    padding: 5px;
    margin: 0 10px ;
    background: #ec639f;
    color: #fff;

}
.readnshare #shareb{
    padding: 10px;
}
.newsAd{
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#loginbtn{
padding: 5px 10px;
text-decoration: none;
color: #40348f;
border: #40348f 1px solid;
}
#loginbtn:hover{
    background-color: #40348f;
    color:#fff;
}
.loginSpan{
       
    position: absolute;
    top: 20px;
    right: 20px;
}
@media (max-width:  980px){
    nav{
        width: 100%;
        justify-content:center;
    }
    .toggal{
        position: absolute;
        display:block;
        padding: 10px;
        top: 5px;
        left: 10px;
        font-size: 18px;

    }
   nav h2{
       position: relative;
       left: -20px;
  font-size:15px;
   }
   .ulNews{
       position: absolute;
       top: 50px;
       left: -100%;
       width: 100%;
       height: 100vh;
       background:rgb(196, 121, 186);
       z-index: 6;
       display:block;
       justify-content: center;
       align-items: center;
       transition:all 0.5s;
   }
   .ulNews li{
       padding: 20px;
       text-align: center;
       display: block;
   }
   #searchicon{
       display: block;
       font-size: 18px;
       padding: 10px;
       font-weight: bold;
   }
   .loginSpan{
       
       position: absolute;
       top: 20px;
       right: 15px;
   }
   .searchForm{
       position: absolute;
       top: 70px;
       left:-100%;
       width: auto;
       background:#ec639f;
      transition: all 0.3s ease-in
   }
   .popular{
       display: none;
   }
   .newsAd{
       display: none;
   }
   .newsBox{
       width: 100%;
   }
   .postby span {
    margin-left: 20%;
}
.posts{
    width: 97%;
}
}

.userprofile{
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: row;
}
.userdetailes {
    width: 25%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 10px 14px 26px -5px rgba(0,0,0,0.43);
-moz-box-shadow: 10px 14px 26px -5px rgba(0,0,0,0.43);
box-shadow: 10px 14px 26px -5px rgba(0,0,0,0.43);

}
.userposts{
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.userimg{
    width: 80%;
    height: 250px;
    display: flex;
    justify-content:center;
    align-items:center;
}
.userimg img{
    width: 80%;
    border-radius: 100%;
}
.userd{
    width: 100%;
    height: auto;
    justify-content:center;
    align-items:center;
}
.userd ul{
    margin: 10px;
}
.userd ul li{
    padding: 10px;
    margin: 10px;
    list-style:none;
    border-bottom: #ffb644 1px solid;
}
.text-tite{
    width: 100%;
    height: 60px;
    text-align: center;
    
}
.text-tite h3{
    padding: 10px;
   
}

.userp{
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    -webkit-box-shadow: -2px 3px 35px -4px rgba(0,0,0,0.48);
    -moz-box-shadow: -2px 3px 35px -4px rgba(0,0,0,0.48);
    box-shadow: -2px 3px 35px -4px rgba(0,0,0,0.48);
    margin: 10px;
}
.userp img{
    width: 100px;
    padding: 10px;
}
.userp p {
    padding: 10px;
    margin: 10px;
}
.userp span {
    margin: 10px;
}

.userp span a{
    padding: 10px;
}
#uiChange{
    position: absolute;
    top: 70px;
    left: 50px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    border-radius: 10px;
    border:rgb(196, 121, 186) 1px solid;
    background-color: #fff;
    display:none;
}
#uiChange input{
    width: 150px;
}
#uiChange span button{
    width: 80px;
    height: 35px;
    border: none;
    color: #fff;
    background-color: #40348f;
    margin: 5px;
}
#udChange{
    position: absolute;
    top: 200px;
    left: 400px;
    width: 400px;
    height: 400px;
    display: none;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    border-radius: 10px;
    border:rgb(196, 121, 186) 1px solid;
    background-color: #fff;
}
#udChange input{
    width: 300px;
    height: 35px;
    margin: 5px;
}
#udChange span button{
    width: 80px;
    height: 35px;
    border: none;
    color: #fff;
    background-color: #40348f;
    margin: 5px;
}
@media (max-width:  980px){
    .userprofile{
        flex-direction: column;
    }
    .userdetailes {
        width: 100%;
    }
    .userposts {
      width: 100%;
    }
    .userp{
        width: 100%;
        margin: 5px;
    }
    .userp img{
        width: 50px;
    }
    #uiChange{
        left: 20px;
    }
    #udChange{
        width: 300px;
        height: 300px;
        left: 20px;top:70px;
    }
    #udChange input{
        width: 280px;
    }
}