*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}
nav{
    position:sticky;
    top:0;
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px, rgba(0, 0, 0, 0.22) 0px 0px 5px;
    z-index: 5;
}
.ulNews{
    position: relative;
    left: -100px;
    width: auto;

}
.ulNews li{
    display: inline-block;
    padding:0 10px;
}
.ulNews li a{
    text-decoration: none;
    color:#40348f;
    font-weight: bold;
}
.toggal{
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
#searchicon {
    display:none;
    cursor: pointer;
}
#hidemenu{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    display:none;
    cursor: pointer;
}
#hidesearch{
    
    display:none;
    cursor: pointer;
}

nav h2{
    padding: 10px;
     color:#40348f;
}
nav div{
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start; 
}
nav div img{
    margin: 10px;
    border-radius:50%;
    cursor: pointer;
}
nav div form{
    padding: 10px 30px;
    position: relative;
}
nav div form input{
    width: 200px;
    height: 30px;
    outline: none;
font-size:15px;
border:none;
border-bottom: 2px solid #40348f;
}
nav div form input:focus{
 outline: none;

}
input:focus{
    outline: none;
}
textarea:focus{
    outline: none;
}
nav div form button{
    position: relative;
   width: 30px;
   height: 30px;
   border:none;
   background:#ffb644 ;
   color: #fff;
   cursor: pointer;
}
nav div form button:hover{
    background:#40348f;
    color: #fff;
    transition: all 1.0 ease-in;
}


.postContainer{
    width: 100%;
    height: auto;

}



.hstalk{
    width: 100%;
 min-height: 100vh;
 height: auto;
 display: flex;
 flex-direction: column;
 justify-content:start;
 align-items: center;
background-color: darkgrey;

}
.hsbox{
    width: 500px;
    height: auto;
    margin: 10px;
    border-radius: 20px;
    background-color:#40348f;
}
.postbyt{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    color: #fff;
}
.postbyt img{
    margin: 10px;
    border-radius: 50%;
}
.hstitle{
    width: 100%;
    height: 50px;
    
}
.hstitle p{
    padding: 10px;
    margin: 10px;
    color: #fff;
}
.videohs{
    width: 100%;
    height: 380px;
    display:flex ;
    align-items: center;
    justify-content: center;

}
.videohs iframe{
    width: 95%;
    height: 350px;
}
.hsviews{
    width: 100%;
    height: 50px;

}
.hsviews p,i{
color: #fff;
padding: 10px;
}
.likehs {
    width: 100%;
    height: 60px;
    display:flex;
    
    align-items:center;
}
.likehs span {
    width: 33%;
    height: 50px;
    margin: 11px;
    display: flex;
    border-radius:10px;
    justify-content:center;
    background: #fff;
    color: #40348f;
    align-items:center;
    cursor: pointer;
}
.likehs span i{
    color:#40348f;
}


@media (max-width:  980px) {
    .hstalk{
        width:100%;
        justify-content:center;
        align-items:start;
    }
    .hsbox{
        width:95%;
    }
}