<%- include('header'); -%>
<div class="courses-cont">
<div class="fnb">
    <h3>Food Production</h3>
    <div class="list_icon"><div class="co_s">
        <a href=""> <img src="https://th.bing.com/th/id/OIP.JRNaobFVu_9XUV2WCpaQaQHaFj?pid=ImgDet&rs=1" alt="">
        <p>Food @ AL</p></a>
    </div>
    <div class="co_s">
        <img src="https://th.bing.com/th/id/OIP.JRNaobFVu_9XUV2WCpaQaQHaFj?pid=ImgDet&rs=1" alt="">
        <p>Food @ AL</p>
    </div>
    <div class="co_s">
        <img src="https://th.bing.com/th/id/OIP.JRNaobFVu_9XUV2WCpaQaQHaFj?pid=ImgDet&rs=1" alt="">
        <p>Food @ AL</p>
    </div>
    <div class="co_s">
        <img src="https://th.bing.com/th/id/OIP.JRNaobFVu_9XUV2WCpaQaQHaFj?pid=ImgDet&rs=1" alt="">
        <p>Food @ AL</p>
    </div>
    <div class="co_s">
        <img src="https://th.bing.com/th/id/OIP.JRNaobFVu_9XUV2WCpaQaQHaFj?pid=ImgDet&rs=1" alt="">
        <p>Food @ AL</p>
    </div>
    <div class="co_s">
        <img src="https://th.bing.com/th/id/OIP.JRNaobFVu_9XUV2WCpaQaQHaFj?pid=ImgDet&rs=1" alt="">
        <p>Food @ AL</p>
    </div>
    <div class="co_s">
        <img src="https://th.bing.com/th/id/OIP.JRNaobFVu_9XUV2WCpaQaQHaFj?pid=ImgDet&rs=1" alt="">
        <p>Food @ AL</p>
    </div>
    <div class="co_s">
        <img src="https://th.bing.com/th/id/OIP.JRNaobFVu_9XUV2WCpaQaQHaFj?pid=ImgDet&rs=1" alt="">
        <p>Food @ AL</p>
    </div>
    <div class="co_s">
        <img src="https://th.bing.com/th/id/OIP.JRNaobFVu_9XUV2WCpaQaQHaFj?pid=ImgDet&rs=1" alt="">
        <p>Food @ AL</p>
    </div>
    <div class="co_s">
        <img src="https://th.bing.com/th/id/OIP.JRNaobFVu_9XUV2WCpaQaQHaFj?pid=ImgDet&rs=1" alt="">
        <p>Food @ AL</p>
    </div>
</div>
    
    
    
</div>
<div class="fnb">
    <h3>Food Production</h3>
    <div class="list_icon"><div class="co_s">
        <img src="https://th.bing.com/th/id/OIP.JRNaobFVu_9XUV2WCpaQaQHaFj?pid=ImgDet&rs=1" alt="">
        <p>Food @ AL</p>
    </div>
    <div class="co_s">
        <img src="https://th.bing.com/th/id/OIP.JRNaobFVu_9XUV2WCpaQaQHaFj?pid=ImgDet&rs=1" alt="">
        <p>Food @ AL</p>
    </div>
    <div class="co_s">
        <img src="https://th.bing.com/th/id/OIP.JRNaobFVu_9XUV2WCpaQaQHaFj?pid=ImgDet&rs=1" alt="">
        <p>Food @ AL</p>
    </div>
    <div class="co_s">
        <img src="https://th.bing.com/th/id/OIP.JRNaobFVu_9XUV2WCpaQaQHaFj?pid=ImgDet&rs=1" alt="">
        <p>Food @ AL</p>
    </div>
    <div class="co_s">
        <img src="https://th.bing.com/th/id/OIP.JRNaobFVu_9XUV2WCpaQaQHaFj?pid=ImgDet&rs=1" alt="">
        <p>Food @ AL</p>
    </div>
    <div class="co_s">
        <img src="https://th.bing.com/th/id/OIP.JRNaobFVu_9XUV2WCpaQaQHaFj?pid=ImgDet&rs=1" alt="">
        <p>Food @ AL</p>
    </div>
    <div class="co_s">
        <img src="https://th.bing.com/th/id/OIP.JRNaobFVu_9XUV2WCpaQaQHaFj?pid=ImgDet&rs=1" alt="">
        <p>Food @ AL</p>
    </div>
    <div class="co_s">
        <img src="https://th.bing.com/th/id/OIP.JRNaobFVu_9XUV2WCpaQaQHaFj?pid=ImgDet&rs=1" alt="">
        <p>Food @ AL</p>
    </div>
    <div class="co_s">
        <img src="https://th.bing.com/th/id/OIP.JRNaobFVu_9XUV2WCpaQaQHaFj?pid=ImgDet&rs=1" alt="">
        <p>Food @ AL</p>
    </div>
    <div class="co_s">
        <img src="https://th.bing.com/th/id/OIP.JRNaobFVu_9XUV2WCpaQaQHaFj?pid=ImgDet&rs=1" alt="">
        <p>Food @ AL</p>
    </div>
    <div class="co_s">
        <img src="https://th.bing.com/th/id/OIP.JRNaobFVu_9XUV2WCpaQaQHaFj?pid=ImgDet&rs=1" alt="">
        <p>Food @ AL</p>
    </div>
    <div class="co_s">
        <img src="https://th.bing.com/th/id/OIP.JRNaobFVu_9XUV2WCpaQaQHaFj?pid=ImgDet&rs=1" alt="">
        <p>Food @ AL</p>
    </div>
    <div class="co_s">
        <img src="https://th.bing.com/th/id/OIP.JRNaobFVu_9XUV2WCpaQaQHaFj?pid=ImgDet&rs=1" alt="">
        <p>Food @ AL</p>
    </div>
    <div class="co_s">
        <img src="https://th.bing.com/th/id/OIP.JRNaobFVu_9XUV2WCpaQaQHaFj?pid=ImgDet&rs=1" alt="">
        <p>Food @ AL</p>
    </div>
    <div class="co_s">
        <img src="https://th.bing.com/th/id/OIP.JRNaobFVu_9XUV2WCpaQaQHaFj?pid=ImgDet&rs=1" alt="">
        <p>Food @ AL</p>
    </div>
    <div class="co_s">
        <img src="https://th.bing.com/th/id/OIP.JRNaobFVu_9XUV2WCpaQaQHaFj?pid=ImgDet&rs=1" alt="">
        <p>Food @ AL</p>
    </div>
</div>
</div>
</div>
<%- include('footer'); -%>