<footer>
            <div class="footer-logo">
                <h1>HotelStudy.Org</h1>
                <p> <i class="fa fa-youtube "><a href="/"></a></i> |<i class="fa fa-facebook "><a href="/"></a></i>|<i class="fa fa-twitter "><a href="/"></a></i>|<i class="fa fa-instagram "><a href="/"></a></i> </p>
                <span>Made by <del>HS</del> ❤️&⌨️ in India</span>
                <p>©️ copyright 2022 to HS</p>
            </div>
            <div class="footer-links">
                <h3>Company</h3>
                <a href="/hs/about">About Us</a>
                <a href="/hs/experts">Our Experts</a>
                <a href="/hs/contact/us">Content Us</a>
                <a href="/hs/terms/condition">Terms & Conditions</a>
                <a href="/hs/privecy-policy">Privacy & Policy</a>
               
                <a href="/disclaimer">Disclaimer</a>
            </div>
            <div class="footer-links">
                <h3>Links</h3>
                <a href="/interview">Interview</a>
                <a href="/q-and-a">Q&A</a>
                <a href="/courses-list/">Courses</a>
                <a href="">Top Tutorials</a>
                <a href="">Top Reader</a>
                <a href="">Top Collages</a>
            </div>
        </footer>
        <script src="" async defer></script>
        <script type="text/javascript">
            let responsive = document.querySelector('.navlinksxv');
            let toggler = document.querySelector('.toggalcv');
            let cancel = document.querySelector('.cutx')
            let hideBar = document.querySelector('.hide-search')
            let search_show = document.querySelector('#search')
            let search_box = document.querySelector('.search_box')
           var hideSearch = document.getElementById('hideSearch')
            toggler.addEventListener('click',()=>{
                responsive.style.left = 0;
            })
            search_show.addEventListener('click',()=>{
               search_box.style.visibility = 'visible';
               
               hideBar.style.display = 'block';
               search_show.style.display = 'none';
            })
            cancel.addEventListener('click',()=>{
                responsive.style.left ='-100%';
            })
            hideBar.addEventListener('click',()=>{
                search_box.style.visibility = 'hidden';
                hideBar.style.display = 'none';
                search_show.style.display = 'block';
            })
        </script>
      <!--  user edit -->
        <script>
            const edit = document.querySelector('#Uedit')
const uForm = document.querySelector('.editForm')
const cancelForm = document.querySelector('#cancelForm')

edit.addEventListener('click',()=>{
uForm.style.display = 'block'
})
cancelForm.addEventListener('click',()=>{
    uForm.style.display = 'none'
})
        </script>
         <script src="/socket.io/socket.io.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/zh-tw.min.js"></script>
         <script type="text/javascript" src="/js/socket_comment.js"  defer></script>
    <script >
        var login = document.querySelector('#login');
        var signin = document.querySelector('#signin');
        var btns = document.querySelector('.sign');
        var btnl = document.querySelector('#log');

       btns.addEventListener('click',()=>{
        login.style.display='none';
        signin.style.display='block';
        })
        btnl.addEventListener('click',()=>{
        login.style.display='block';
        signin.style.display='none';
        })
    
    </script>
    <script>
        const draft = document.querySelector('#btn-post')
        const published = document.querySelector('#public')
        const typeInput = document.querySelector('#type-input')

        draft.addEventListener('click', () =>{
            typeInput.value = "draft"
        })
        published.addEventListener('click',()=>{
            typeInput.value = "public"
        })
    </script>
     <script>
        const form = document.getElementById('uiChange')
        const showf = document.getElementById('showf')
        const hideForm = document.getElementById('hideThis')
        const form2 = document.getElementById('udChange')
        const showd = document.getElementById('showd')
        const hided = document.getElementById('hided')
        showf.addEventListener('click',()=>{
            form.style.display="flex"
        })
        hideForm.addEventListener('click',()=>{
            form.style.display='none'
        })
        showd.addEventListener('click',()=>{
            form2.style.display="flex"
        })
        hided.addEventListener('click',()=>{
            form2.style.display="none"
        })
    </script>
    <script>
            var btn_reply = document.getElementById("btn-reply");
var form_reply = document.getElementById("form-reply");
var btn_cancel = document.getElementById("btn-cancel");

var sec_1 = document.querySelector('.sec-1')


btn_reply.addEventListener("click", function(){
    form_reply.style.display="block"
    btn_reply.style.display="none"
    btn_cancel.style.display="block"
})
btn_cancel.addEventListener("click", function(){

    form_reply.style.display="none"
    btn_reply.style.display="block"
    btn_cancel.style.display="none"
})

    </script>
    
    <script>
var index_btn= document.getElementById("index-come")
    var index_back = document.getElementById("index-back");
    index_btn.addEventListener("click", function(){
        sec_1.style.left=0;
        index_btn.style.display="none"
        index_back.style.display="block"
        });
        index_back.addEventListener("click",function(){
            sec_1.style.left='-100%'
            index_back.style.display="none"
            index_btn.style.display="block"
        });
    </script>
    <!-- admin js -->
    <script>
        var add = document.getElementById('add')
        var co_form = document.getElementById('co-form')
        var co_cut = document.getElementById('co-cut')
       

        add.addEventListener('click', function(){
            co_form.style.display='block'
        })
        co_cut.addEventListener('click', function(){
            co_form.style.display='none'
        })
        
    </script>
    <script>
var show = document.getElementById('forgetForm')
        var hide = document.getElementById('hideForm')
        var forgetPass = document.getElementById('forgetPass')
       
forgetPass.addEventListener('click',function(){
            show.style.display='block'
        })
        hide.addEventListener('click',function(){
            show.style.display='none'
        })
        
    </script>
    <script>
        const menu = document.querySelector('.toggale')
        const list = document.querySelector('.ulNews')
        const hidemenu = document.querySelector('#hidemenu')
        const showSearch = document.querySelector('#searchicon')
        const hidebar = document.querySelector('#hidesearch')
        const searchBar = document.querySelector('.searchForm')

        menu.addEventListener('click',()=>{
            list.style.left = '0px'
            menu.style.display = 'none'
            hidemenu.style.display = 'block'
        })
        hidemenu.addEventListener('click',()=>{
            list.style.left = '-100%'
            hidemenu.style.display = 'none'
            menu.style.display = 'block'
        })
        showSearch.addEventListener('click',()=>{
            searchBar.style.left = '20px'
            hidebar.style.display='block'
            showSearch.style.display = 'none'
        })
        hidebar.addEventListener('click',()=>{
            searchBar.style.left = '-100%'
            hidebar.style.display='none'
            showSearch.style.display = 'block'
        })
    </script>
     <script>
        const menue = document.querySelector('#toggal')
        const liste = document.querySelector('.navlinks')
        const hidemenue = document.querySelector('#hidemenue')
       const showSearche = document.querySelector('#search')
       const hidebare = document.querySelector('.hide-search')
       const searchBare = document.querySelector('.search_box')

        menue.addEventListener('click',()=>{
            liste.style.left = '0px'
            menue.style.display = 'none'
            hidemenue.style.display = 'block'
        })
        hidemenue.addEventListener('click',()=>{
            liste.style.left = '-100%'
            hidemenue.style.display = 'none'
            menue.style.display = 'block'
        })
        showSearche.addEventListener('click',()=>{
            searchBare.style.left = '20px'
            hidebare.style.display='block'
            showSearche.style.display = 'none'
        })
        hidebare.addEventListener('click',()=>{
            searchBare.style.left = '-100%'
            hidebare.style.display='none'
            showSearche.style.display = 'block'
        })
    </script>
    <script>
 var userImg = document.getElementById('userImg')
        var userData = document.getElementById('userData')
        var close = document.getElementById('close')
userImg.addEventListener('click',function(){
            userData.style.display='flex'
        })
        close.addEventListener('click',function(){
            userData.style.display='none'
        })
    </script>
    <!-- flashMessage  -->
    <script>
        const errorr = document.querySelector('.error')
        const info = document.querySelector('.info')
        const remove = document.getElementById('removeFlash')
        remove.addEventListener('click',()=>{    
            info.style.display = 'none'
        })
        remove.addEventListener('click',()=>{
            errorr.style.display = 'none'
        })
    </script>
    <!-- summernote cdn and javascript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  
      <script type="text/javascript">
          var curruntLocalStorage = location.href;
          const indexA = document.getElementsByClassName('course-link');
          const courselenth = indexA.length;
          for(var i =0 ; i< courselenth ; i++){
              if(indexA[i].href == curruntLocalStorage){
                  indexA[i].className = 'active'
              }
          }
      </script>
  
  <script type="text/javascript">

    var artdel = document.getElementById('art-del');
    var delcom = document.getElementById('delete-com');
    var delno = document.getElementById('del-no')
    artdel.addEventListener('click', ()=>{
        delcom.style.visibility= "visible"
    })
    delno.addEventListener('click', ()=>{
        delcom.style.visibility = 'hidden'
    })
   
</script>
    <!-- <script>
        const form = document.querySelector('.formPost');
 const pushComment = document.querySelector('#pushComments').innerHTML
const formEvent = form.addEventListener('submit', event => {
    event.preventDefault();
    const postId = document.querySelector('#postId').value;
    const adminId = document.querySelector('#adminId').value;
    const comment = document.querySelector('#comment').value;
    const commentData = {postId, adminId,comment};
 
   async function doComment(form){
 await axios({
    url:"/comment",
    method:'post',
    data:commentData,
}).then((responseData)=>{
   
    const {comment} = responseData.data;
 const existingCommentsList = document.getElementById('pushComments').innerHTML;
 document.getElementById('pushComments').innerHTML = `${existingCommentsList}<li>${comment.comment}</li>`;
    console.log(responseData.data)
})
 }
 doComment()
 function nulldata(){  
    const comment = document.querySelector('#comment').value=''
 }
 nulldata()
}); -->

 
    </script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script>
        $(document).ready(function() {
            $('textarea#body').summernote({
                height: '600px',
            });
            var value = $('#value').val()
            $('textarea#body').summernote('pasteHTML', value);
        });
       
        

    </script>
    
    <script>
 $(document).ready(function(){
    $(document).ready(function(){
    $("#flashMessage").delay(5000).slideUp(300);
});
});
    </script>

   
    </body>
</html>
