<nav> <div class="toggal"><i id="toggal" style="font-size:23px;" class="fas  fa-bars"></i>   <i id="hidemenue" style="display:none;font-size:15x;" class="fas fa-times fa-2x"></i></div>
 
    <div class="logo">
        <h2 > <a style="text-decoration:none; color:#000;" href="/"><img style="margin-top: 5px;" width="150px" src="/image/logo1.jpeg" alt=""></a> </h2>
    </div>
    <div>
   <div id='search'> <i  class="fas fa-search fa-2x"></i></div><div class="hide-search" ><i class="fas fa-times fa-2x"></i></div>
</div>
    <ul class="navlinks">
       
        <li><a href="/">Home</a></li>
        <li><a href="/news"> News</a></li>
        <li><a href="/courses-list/">Courses</a></li>
        <li><a href="/interview">Interviews</a></li>
        <li><a href="/">More</a></li>
        
    
    </ul>

<div class="search_box">
    <form action="/search/post/query/" method="get">
       <input type='search' name="search_type" placeholder="Type to search" />
       <button id="show-search" type="submit"><i  class="fas fa-search fa-2x"></i></button>
       
    </form>
</div>
    <span>
        <% if (locals.session.loggedin){ %>
            <div class="userPro">
                <img id='userImg' style="cursor: pointer" src="<%=user.profile%>" alt="user_image">
            </div>
       <% }else{ %>
        <span class="loginSpan"><a style="border-radius: 5px; background-color: #40348f;color:#fff;" id="loginbtn" href="/login/auth-user">Login</a></span>
        <%} %>
</span>
<% if (locals.session.loggedin){ %>
<div id="hideSearch" ><i class="fas fa-times"></i></div>

<div id='userData' class="userdata">
    <a href="/user/profile/<%=user._id%>">Profile</a>
    <a href="">Settings</a>
    <a href="/logout">Logout</a>
    <i id='close' style="cursor: pointer" class="fas fa-sort-up"></i>
</div>
<% }else{%>
    <%} %>
</nav>