<nav> <div class="toggal"><i class="fas fa-bars"></i></div>
    <div class="logo">
        <h2> <a style="text-decoration:none; color:#000;" href="/"> HotelStudy.Org</a> </h2>
    </div>
    <div>
   <div id='search'> <i  class="fas fa-search fa-2x"></i></div><div class="hide-search" ><i class="fas fa-times fa-2x"></i></div>
</div>
    <ul class="navlinks">
       
        <li><a href="/">Home</a></li>
        <li><a href="/news"> News</a></li>
        <li><a href="/courses-list/">Courses</a></li>
        <li><a href="/interview">Interviews</a></li>
        <li><a href="/">More</a></li>
        <div class="cut"><i class="fas fa-times"></i></div>
    
    </ul>

<div class="search_box">
    <form action="/search/post/query/" method="get">
       <input type='search' name="search_type" placeholder="Type to search" />
       <button id="show-search" type="submit"><i  class="fas fa-search fa-2x"></i></button>
       
    </form>
   
    <span>
        <% if (locals.session.loggedin){ %>
            <div class="userPro">
                <img id='userImg' style="cursor: pointer" src="<%=user.profile%>" alt="user_image">
            </div>
       <% }else{ %>
        <button ><a href="/login/auth-user">login</a></button>
        <a id="login-btn" style="background:#40348f; text-decoration:none;padding:5px 10px;color:#fff;" href="/login/auth-user">login</a>
        <%} %>
</span>
<% if (locals.session.loggedin){ %>
<div id="hideSearch" ><i class="fas fa-times"></i></div>
</div>
<div id='userData' class="userdata">
    <a href="/user/profile/<%=user._id%>">Profile</a>
    <a href="">Settings</a>
    <a href="/logout">Logout</a>
    <i id='close' style="cursor: pointer" class="fas fa-sort-up"></i>
</div>
<% }else{%>
    <%} %>
</nav>