
<%- include('header'); -%>
  <div class="listcontainer">
    <div class="listcourse">
        <h3>Food and Beverage</h3>
        <div class="allcourse">
            <a href="/"><img style="width: 80px;height: 80px;" src="http://localhost:3000/image/experts.jpeg" alt="">
                <figcaption>F&B</figcaption></a>
            <a href="/">Wine</a>
            <a href="/">Wine</a>
            <a href="/">Wine</a>
            <a href="/">Wine</a>
            <a href="/">Wine</a>
             <a href="/">Wine</a> <a href="/">Wine</a>
             <a href="/">Wine</a>
        </div>
    </div>
</div>
<%- include('footer'); -%>