<navi><div class="toggale"><i class="fas fa-bars"></i></div>
    <i id="hidemenu" class="bi bi-x-lg"></i>
    <h2 class=" m-3"> <i class="bi bi-newspaper"></i> HotelStudy News </h2>
    <i id="searchicon"  class="bi bi-search-heart"></i>
    <i id="hidesearch" class="bi bi-x-lg"></i>
    <ul class="ulNews">
        <li ><a href="/news">Home</a></li><li><a href="/">HotelStudy</a></li><li><a href="/hs/contact/us">Contact Us</a></li>
    </ul>
    <div class="searchForm">
        <form action="/search">
            <input type="search" name="" id="" placeholder="Enter search term">
            <button type="submit"><i class="ni bi-search"></i></button>
        </form>
       
    </div>

    <% if (locals.session.loggedin){ %>
        <img id='userImg' style="cursor: pointer" width="30px" src="<%= user.profile%>" alt="">
       <% }else{%>
        <span class="loginSpan"><a id="loginbtn" href="/login/auth-user">Login</a></span>
        <%}%>
   
    <div id='userData' class="userdata">
        <a href="/user/profile/<%=user._id%>">Profile</a>
        <a href="">Settings</a>
        <a href="/logout">Logout</a>
        <i id='close' style="cursor: pointer" class="bi bi-caret-up-fill"></i>
    </div>
</navi>