*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}
navi{
    position:sticky;
    top:0;
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px, rgba(0, 0, 0, 0.22) 0px 0px 5px;
    z-index: 5;
}
.ulNews{
    position: relative;
    left: -100px;
    width: auto;

}
.ulNews li{
    display: inline-block;
    padding:0 10px;
}
.ulNews li a{
    text-decoration: none;
    color:#40348f;
    font-weight: bold;
}
.toggale{
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
#searchicon {
    display:none;
    cursor: pointer;
}
#hidemenu{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    display:none;
    cursor: pointer;
}
#hidesearch{
    
    display:none;
    cursor: pointer;
}

navi h2{
    padding: 10px;
     color:#40348f;
}
navi div{
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start; 
}
navi div img{
    margin: 10px;
    border-radius:50%;
    cursor: pointer;
}
navi div form{
    padding: 10px 30px;
    position: relative;
}
navi div form input{
    width: 200px;
    height: 30px;
    outline: none;
font-size:15px;
border:none;
border-bottom: 2px solid #40348f;
}
navi div form input:focus{
 outline: none;

}
input:focus{
    outline: none;
}
textarea:focus{
    outline: none;
}
navi div form button{
    position: relative;
   width: 30px;
   height: 30px;
   border:none;
   background:#ffb644 ;
   color: #fff;
   cursor: pointer;
}
navi div form button:hover{
    background:#40348f;
    color: #fff;
    transition: all 1.0 ease-in;
}
.userdata{
    position: absolute;
    top:60px;
    right: 20px;
      width: 100px;
      height: 130px;
      background-color: #c7c3c3;
      align-items:center;
      display:none;
      flex-direction: column;
      transform: all 10ms;
      z-index: 5;
  }
 .userdata a{
    padding: 5px 10px;
    text-decoration: none;
    color: #40348f;
}

/* .newshome */
.newshome{
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: row;
    position: relative;
}
.popular{
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
z-index: -2;
}
.popular h3{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom:2px solid #40348f;
    color:#40348f;
}
.pdata{
    width: 90%;
    height: 45px;
    display: flex;
  
    align-items:center;
    margin: 5px  20px;
    
}
.pdata img{
    width: 35px;
    padding:0 10px;
    

}
.pdata a{
    text-decoration: none;
    color: #000000;
    padding: 10px;
}
.newsBox{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.posts{
    width: 90%;
    height: 500px;
    display: flex;
    margin: 10px 0;
    flex-direction: column;
    justify-content:center;
    align-items:center;
   background-color: rgb(241, 241, 241);
}
.postby img{
    width: 35px;
    padding: 5px 10px;
    margin:5px;
}
.postby h4{
    padding: 10px;
    width:auto;
}
/* .postby span {
  
   margin-left: 40%;
   width:100px;
} */
.postby{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #40348f ;
}
.postby h4{
    width:300px;
}.postby h4 a{
    text-decoration:none;
    color:#000;
}
#dateViews{
    width: 400px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:cenetr;
float:right;
}
#dateViews p{
    margin:0 10px;
}
.posttm{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.posttm h3{
    width: 90%;
    height: auto;
    padding: 10px
}
.posttm img{
    width: 95%;
    height: 300px;
    margin: 10px;
}
.readnshare{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}
.readnshare #rm {
    text-decoration: none;
    padding: 5px;
    margin: 0 10px ;
    background: #ec639f;
    color: #fff;

}
.readnshare #shareb{
    padding: 10px;
}
.newsAd{
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#loginbtn{
padding: 5px 10px;
text-decoration: none;
color: #40348f;
border: #40348f 1px solid;
}
#loginbtn:hover{
    background-color: #40348f;
    color:#fff;
}
.loginSpan{
       
    position: absolute;
    top: 20px;
    right: 20px;
}
#userImg{
    position: absolute;
    top: 15px;
    right: 15px;
}
@media (max-width:  980px){
    navi{
        width: 100%;
        justify-content:center;
    }
    .toggale{
        position: absolute;
        display:block;
        padding: 10px;
        top: 5px;
        left: 10px;
        font-size: 18px;

    }
    #dateViews{
        width: 400px;
        flex-direction:column;
    }
    .naming{
        width: 400px;
    }
   #userImg{
        position: absolute;
        top: 15px;
        right: 15px;
    }
   navi h2{
       position: relative;
       left: -20px;
  font-size:15px;
   }
   .ulNews{
       position: absolute;
       top: 50px;
       left: -100%;
       width: 100%;
       height: 100vh;
       background:rgb(196, 121, 186);
       z-index: 6;
       display:block;
       justify-content: center;
       align-items: center;
       transition:all 0.5s;
   }
   .ulNews li{
       padding: 20px;
       text-align: center;
       display: block;
   }
   #searchicon{
       display: block;
       font-size: 18px;
       padding: 10px;
       font-weight: bold;
   }
   .loginSpan{
       
       position: absolute;
       top: 20px;
       right: 15px;
   }
   .searchForm{
       position: absolute;
       top: 70px;
       left:-100%;
       width: auto;
       background:#ec639f;
      transition: all 0.3s ease-in
   }
   .popular{
       display: none;
   }
   .newsAd{
       display: none;
   }
   .newsBox{
       width: 100%;
   }
   .postby span {
      
       font-size:12px;
    margin-left: 0%;
}
.posts{
    margin-top:50px;
    width: 97%;
}
}



/* newas read */




.readNews{
    width: 75%;
    height: auto;
    min-height:100vh;
    
    justify-content:center;
    align-items:center;
}
.readNews h2{
    padding: 10px;
    margin: 10px;
}
.postimg{
    width: 100%;
    height: auto;
    display: flex;
    justify-content:center;
    align-items:center;
}
.postimg img {
    width: 95%;
    margin: 10px;
}
.postCont{
    width: 100%;

}
#readmore{
    width: 100%;
    height: 35px;
    border-top: #40348f 1px solid;
    border-bottom: #40348f 1px solid;
}
.postCont .divcon{
padding: 10px;
margin: 10px;
}

@media (max-width:  980px){
    .readNews{
        width: 100%;
    }
}

/* create post */
.linktocreate{
    position:absolute;
    right: 50px;
    top: 10px;
}
.linktocreate a{
    text-decoration :none;
    padding: 10px;
    background:#40348f;
    color:#fff;
}
.postContainer{
    width: 100%;
    height: auto;

}
.postContainer form {
    width: 100%;height: auto;
    display: flex;
    flex-direction: column;

}
.postContainer form h4{
    padding: 10px;
}
.postContainer form input {
    width: 95%;
    height: 35px;
    margin: 5px;
    border:#40348f 1px solid;
}
.postContainer form #btn-post {
    width: 80px;
    height: 35px;
    background-color: #40348f;
    color: #fff;
    border:none;
    margin: 10px;
}
#create-btn button{
    width: 80px;
    height: 35px;
    border: none;
    background-color: #40348f;
    color: #fff;
    cursor: pointer;
}